<%- include ./layouts/cabecera.ejs %> 
</br>
<div class="container-md">
        <h1>Moniciones Litúrgicas <br>Ciclo <%= ciclo %></h1>
            <div class="accordion accordion-flush" id="accordionFlushExample1"">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                            <h5>Tiempo de Adviento</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">
                            <div id="adviento"></div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">
                            <h5>Tiempo de Navidad</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne2" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">
                            <div id="navidad"></div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne3">
                            <h5>Tiempo de Ordinario</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne3" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">
                            <div id="ordinario1"></div>
                            <div id="ordinario2"></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne4" aria-expanded="false" aria-controls="flush-collapseOne4">
                            <h5>Tiempo de Cuaresma</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne4" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">
                            <div id="cuaresma"></div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne5" aria-expanded="false" aria-controls="flush-collapseOne5">
                            <h5>Tiempo del Triduo Pascual</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne5" class="accordion-collapse collapse" aria-labelledby="flush-headingOne5" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">
                            <div id="triduo"></div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne6" aria-expanded="false" aria-controls="flush-collapseOne6">
                            <h5>Tiempo Pascual</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne6" class="accordion-collapse collapse" aria-labelledby="flush-headingOne6" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">
                            <div id="pascual1"></div>
                            <div id="pascual2"></div>
                        </div>
                    </div>
                </div>
            </div> 
</div>


<script>
function cargarMoniciones(ciclo, tiempo, idSelector){
    fetch(`http://localhost:7000/api/moniciones/ciclo/${ciclo}/tiempo/${tiempo}`, {method: 'GET'})
        .then(respuesta => {return respuesta.json()})//indicamos el formato en que se desea obtener la informacion
        .then(monicion => {
            let monicionAMostrar = document.querySelector(idSelector);
            //console.log(monicion);
            monicion.forEach(monicion => {
                const row = document.createElement("tr");
                row.innerHTML += `
                <ul>
                    <li class="lista"><a href="/moniciones/${monicion.id}?titulo=${monicion.titulo}&dia=${monicion.dia}&semana=${monicion.semana}&ciclo=${monicion.ciclo}&tiempo=${monicion.tiempo}" target="_blank"><i class="fas fa-cross"></i>${monicion.titulo} ${monicion.dia} ${monicion.semana}<i class="fas fa-angle-double-right"></i></a></li>
                </ul>  
                `;
                monicionAMostrar.appendChild(row);
                })
            })
        .catch(error => console.log("Hubo un Error: " + error.message))
}

cargarMoniciones('<%= ciclo%>', 'de Adviento', "#adviento");
cargarMoniciones('A, B y C', 'de Navidad', "#navidad");
cargarMoniciones('A, B y C', 'ordinario', "#ordinario1");
cargarMoniciones('<%= ciclo%>', 'ordinario', "#ordinario2");
cargarMoniciones('<%= ciclo%>', 'de cuaresma', "#cuaresma");
cargarMoniciones('A, B y C', 'del triduo pascual', "#triduo");
cargarMoniciones('<%= ciclo%>', 'Pascual', "#pascual1");
cargarMoniciones('A, B y C', 'Pascual', "#pascual2");

</script>
<%- include ./layouts/social.ejs %>
<%- include ./layouts/pie.ejs %> 